<HTML>


    <HEAD>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <TITLE>Home</TITLE>
    {{>header}}
    </HEAD>
    
    
    
    <BODY BGCOLOR="FFFFFF">
    
    
    
    <HR>
    

    <P> This is HOME page 
    
    <P> <B>This is a new paragraph of home page!</B>
    
    
    <HR>
    </BODY>
    
    </HTML>