<HTML>

<HEAD>
</HEAD>

<body>
    <h1>{{data}}</h1>

<form>
         <input type="text" name="location"></input>
         <button type="submit">Send</button>
         
      </form>
      <div style ="white-space: pre-line;" id=1></div>
      <script src='/js/index.js'></script>
</body>

</HTML>